<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ee.levin.filters.dao.FilterDao">

    <select id="findAllFilters" resultType="ee.levin.filters.dto.FilterDto">
        SELECT
            id AS id,
            name AS name,
            created_dtime AS createdDtime
        FROM filters.filters;
    </select>

    <insert id="insertFilter" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO filters.filters (name)
        VALUES (#{name});
    </insert>

    <delete id="deleteFilterById">
        DELETE
        FROM filters.filters
        WHERE id = #{id};
    </delete>
</mapper>